html {
    width: auto;
    height: auto;
    max-height: 8rem;
}


header {
    background-color: #001F3F;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top:1rem;
    padding-bottom: 1rem;
}

/* header img { 
    width: auto;
    height: auto;
    max-width: 150px;
    max-height: 150px;
    margin-left: 5rem;
    margin-top: 0.5rem;
} */

header h2 {
    color: white;
    font-size: 2rem;
    margin-left: 5rem; 
}

header ul {
    display: flex;
    justify-content: center;
    list-style-type: none
}

header a {
    color: white;
    margin-left: 60px;
    text-decoration: none;
}

header #divBusca {
    margin-right: 5rem;
}

section {
    display: flex;
}

.header-bottom ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    border-bottom: 1px solid #001f3f35;
    padding: 12px;
}

.header-bottom a{
    text-decoration: none;
    color: black;
}

.carousel {
    margin-right: 2rem;
    margin-top: 2rem;
    display: flex;
    width: 255%;
}

.carousel  {
    height: auto;
    margin-left:3rem;
}

.carousel img {
    border-radius: 5px;
}

section.home-bottom {
    margin-top: 4rem;
}

.card {
    margin-left: 2.1rem;
    max-width: 220px;
}

.cards {
    display: flex;
    margin-left: 1.5rem;
}

section .imagens ul {
    margin-left: 0.5rem;
}

.imagens img {
    max-width: 200px;
}

.imagens {
    display: flex;
    align-items: center;
    margin-left: 3.5rem;
}
 .imagens ul {
    list-style: none;
    padding: 0px;
 }

 .text p {
    margin-top: 5rem;
    margin-bottom: 1rem;
}

