*{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

html {
    width: auto;
    height: auto;
    max-height: 8rem;
}

header {
    background-color: #001F3F;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    color: white;
    font-size: 2rem;
    margin-left: 5rem; 
    margin-top: 15px;
    margin-bottom: 15px;
}

header ul {
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    list-style-type: none
}

header a {
    color: white;
    margin-left: 60px;
    text-decoration: none;
}

header #divBusca {
    margin-right: 5rem;
}

section {
    display: flex;
}

input#txtBusca {
    padding: 8px;
    border-radius: 20px;
    border: none;
}

button#btnBusca {
    padding: 8px;
    border-radius: 20px;
}

.header-bottom ul {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    border-bottom: 1px solid #001f3f35;
    padding: 10px;
}

.header-bottom a{
    text-decoration: none;
    color: black;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px;
}

.card {
    border-radius: 5px;
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fffcfc;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
}

button {
    background-color: white;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color:#ddd;
    color: #001F3F;
}

.carrinho {
    border: 1px solid #ddd;
    padding: 0 10% 2%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
    margin-bottom: 5%;
    margin-top: 3%;
}

.container {
    display: flex;
    justify-content: center;
}

.container h2 {
    display: flex;
    justify-content: right;
}

h1 {
    margin-top: 4%;
    text-align: center;
}

.carrinho h2 {
    border: 1px solid #ddd;
    padding: 1px 6pc;
}

hr {
    color: #86868b;
    border: 2px solid;
    width: 300px;
    margin-bottom: 2%;
}

a {
    text-decoration: none;
    color: black;
}

.sec-prod {
    text-align: right;
    display: flex;
    margin-left: 8%;
}

footer {
    background-color: #001F3F;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.linha-do-rodape {
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

.coluna-do-rodape {
    flex: 1;
    text-align: center;
}

.coluna-do-rodape a {
    color: #fff;
    text-decoration: none;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}