html {
    width: auto;
    height: auto;
    max-height: 8rem;
}

header {
    background-color: #001F3F;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    color: white;
    font-size: 2rem;
    margin-left: 5rem; 
}

header ul {
    display: flex;
    justify-content: center;
    list-style-type: none
}

header a {
    color: white;
    margin-left: 60px;
    text-decoration: none;
}

header #divBusca {
    margin-right: 5rem;
}

section {
    display: flex;
}

.header-bottom ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    border-bottom: 1px solid #001f3f35;
    padding: 12px;
}

.header-bottom a{
    text-decoration: none;
    color: black;
}

